<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersistanceLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PersistanceLayerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WaniKani.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WaniKaniUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WaniTokei (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WaniTokei.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>430876E51D902FE800FE71FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430876F61D902FF500FE71FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430876FE1D902FF500FE71FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430A75491E8E4DF80025039A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430A75511E8E4DF80025039A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43177C361EE73976001716F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43620A391D8C28FA00C1BA72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43620ACA1D8DD2F300C1BA72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BE31381EEC396B00C050F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BE314A1EEC3BC300C050F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BE31581EEC3BE600C050F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43FFAB8D1EEC25AB007CEE89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D32BDD01EE6F0CA00ABE009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
